---
http_interactions:
- request:
    method: patch
    uri: https://api.staging.tsek.asia/api/v1/account
    body:
      encoding: UTF-8
      string: '{"user":{"first_name":"Tony","last_name":"Stark","username":"ironman"}}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - fHqAMXiD_kDc8hs-tv2m_gBxjFxJk1l3KdjAVlTFhY_KRMQGLMld3gf4GdU
      Authorization:
      - Token eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjo0MTksImV4cCI6MTYwMzMzMzY1MH0.XFOq42FwWqIg7KoZqd40YVGxYc_pZ6aS_7EjX7XEjZU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"19b50afa5b13f019ed30ab5f5687a33b"
    body:
      encoding: UTF-8
      string: '{"id":419,"first_name":"Tony","middle_name":null,"last_name":"Stark","username":"ironman","email":"test@testmail.dev","created_at":"2019-10-22T01:43:58.577Z","updated_at":"2019-10-22T02:46:49.181Z","disabled_at":null,"membership":null,"role":"member","require_password_reset":true}'
  recorded_at: Tue, 22 Oct 2019 02:46:49 GMT
recorded_with: VCR 5.0.0
