---
http_interactions:
- request:
    method: post
    uri: https://api.staging.tsek.asia/api/v1/auth
    body:
      encoding: UTF-8
      string: '{"auth":{"email":"moderator@mail.com","password":"moderatorpassword"}}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - fHqAMXiD_kDc8hs-tv2m_gBxjFxJk1l3KdjAVlTFhY_KRMQGLMld3gf4GdU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"746357fbde5b39e92781006d517ffaca"
    body:
      encoding: UTF-8
      string: '{"auth_token":"eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjozNDgsImV4cCI6MTYwNDQ4MDgyMX0.x95PFnTdRf9YWqgjICYaZbBAZhrYT1TCH4tMsHlNXJU"}'
  recorded_at: Mon, 04 Nov 2019 09:07:01 GMT
- request:
    method: get
    uri: https://api.staging.tsek.asia/api/v1/account
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - fHqAMXiD_kDc8hs-tv2m_gBxjFxJk1l3KdjAVlTFhY_KRMQGLMld3gf4GdU
      Authorization:
      - Token eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjozNDgsImV4cCI6MTYwNDQ4MDgyMX0.x95PFnTdRf9YWqgjICYaZbBAZhrYT1TCH4tMsHlNXJU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"09ef75b3f7a1df5c27e550e870fb1c6a"
    body:
      encoding: UTF-8
      string: '{"id":348,"first_name":"Moderator","middle_name":"Middle","last_name":"Last","username":"moderatorboy","email":"moderator@mail.com","created_at":"2019-09-04T07:04:13.323Z","updated_at":"2019-11-04T01:34:33.806Z","disabled_at":null,"membership":null,"role":"moderator","require_password_reset":false,"full_name":"Moderator Middle Last","moderatorships":[{"id":1,"name":"App"}]}'
  recorded_at: Mon, 04 Nov 2019 09:07:02 GMT
recorded_with: VCR 5.0.0
