---
http_interactions:
- request:
    method: post
    uri: https://api.staging.tsek.asia/api/v1/auth
    body:
      encoding: UTF-8
      string: '{"auth":{"email":"test@testmail.dev","password":"thisisthepassword"}}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - fHqAMXiD_kDc8hs-tv2m_gBxjFxJk1l3KdjAVlTFhY_KRMQGLMld3gf4GdU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c98175ace2679246daf2b9ff3f100209"
    body:
      encoding: UTF-8
      string: '{"auth_token":"eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjo0MTksImV4cCI6MTYwMzMzMzY1MH0.XFOq42FwWqIg7KoZqd40YVGxYc_pZ6aS_7EjX7XEjZU"}'
  recorded_at: Tue, 22 Oct 2019 02:27:30 GMT
- request:
    method: get
    uri: https://api.staging.tsek.asia/api/v1/account
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - fHqAMXiD_kDc8hs-tv2m_gBxjFxJk1l3KdjAVlTFhY_KRMQGLMld3gf4GdU
      Authorization:
      - Token eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjo0MTksImV4cCI6MTYwMzMzMzY1MH0.XFOq42FwWqIg7KoZqd40YVGxYc_pZ6aS_7EjX7XEjZU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f80c3c13dd8ea359279267d9f42767c4"
    body:
      encoding: UTF-8
      string: '{"id":419,"first_name":null,"middle_name":null,"last_name":null,"username":"c1961f4f-38ba-49cf-a597-b21f1f34a5cf","email":"test@testmail.dev","created_at":"2019-10-22T01:43:58.577Z","updated_at":"2019-10-22T02:19:18.715Z","disabled_at":null,"membership":null,"role":"member","require_password_reset":true}'
  recorded_at: Tue, 22 Oct 2019 02:27:31 GMT
recorded_with: VCR 5.0.0
