---
http_interactions:
- request:
    method: patch
    uri: https://api.staging.tsek.asia/api/v1/account/change_password
    body:
      encoding: UTF-8
      string: '{"user":{"old_password":"thisisthepassword","password":"notthesame","password_confirmation":"withthispassword"}}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - fHqAMXiD_kDc8hs-tv2m_gBxjFxJk1l3KdjAVlTFhY_KRMQGLMld3gf4GdU
      Authorization:
      - Token eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjo0MTksImV4cCI6MTYwMzMzMzY1MH0.XFOq42FwWqIg7KoZqd40YVGxYc_pZ6aS_7EjX7XEjZU
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":["Password confirmation doesn''t match Password"]}'
  recorded_at: Tue, 22 Oct 2019 03:08:41 GMT
recorded_with: VCR 5.0.0
