---
http_interactions:
- request:
    method: post
    uri: https://api.staging.tsek.asia/api/v1/account/find
    body:
      encoding: UTF-8
      string: '{"email":"test@testmail.dev"}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - fHqAMXiD_kDc8hs-tv2m_gBxjFxJk1l3KdjAVlTFhY_KRMQGLMld3gf4GdU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b8407485cbacafaaae09330b57235520"
    body:
      encoding: UTF-8
      string: '{"exists":true,"user":{"id":419,"first_name":"Thor","middle_name":null,"last_name":"Odinson","username":"therealgodofthunder","email":"test@testmail.dev","created_at":"2019-10-22T01:43:58.577Z","updated_at":"2019-10-22T03:08:39.413Z","disabled_at":null,"membership":null,"role":"member","require_password_reset":true}}'
  recorded_at: Tue, 22 Oct 2019 03:09:20 GMT
recorded_with: VCR 5.0.0
