---
http_interactions:
- request:
    method: patch
    uri: https://api.staging.tsek.asia/api/v1/account
    body:
      encoding: UTF-8
      string: '{"user":{"first_name":"Thor","last_name":"Odinson","username":"therealgodofthunder"}}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - fHqAMXiD_kDc8hs-tv2m_gBxjFxJk1l3KdjAVlTFhY_KRMQGLMld3gf4GdU
      Authorization:
      - Token eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjo0MTksImV4cCI6MTYwMzMzMzY1MH0.XFOq42FwWqIg7KoZqd40YVGxYc_pZ6aS_7EjX7XEjZU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"735debe5e478380f2e1db887b9a08a95"
    body:
      encoding: UTF-8
      string: '{"id":419,"first_name":"Thor","middle_name":null,"last_name":"Odinson","username":"therealgodofthunder","email":"test@testmail.dev","created_at":"2019-10-22T01:43:58.577Z","updated_at":"2019-10-22T03:07:57.133Z","disabled_at":null,"membership":null,"role":"member","require_password_reset":true}'
  recorded_at: Tue, 22 Oct 2019 03:07:57 GMT
recorded_with: VCR 5.0.0
