---
http_interactions:
- request:
    method: patch
    uri: https://api.staging.tsek.asia/api/v1/account/change_password
    body:
      encoding: UTF-8
      string: '{"user":{"old_password":"thisisthepassword","password":"thisisthepassword","password_confirmation":"thisisthepassword"}}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - fHqAMXiD_kDc8hs-tv2m_gBxjFxJk1l3KdjAVlTFhY_KRMQGLMld3gf4GdU
      Authorization:
      - Token eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjo0MTksImV4cCI6MTYwMzMzMzY1MH0.XFOq42FwWqIg7KoZqd40YVGxYc_pZ6aS_7EjX7XEjZU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c0d6959d028d0d093751151251af35d3"
    body:
      encoding: UTF-8
      string: '{"id":419,"first_name":"Thor","middle_name":null,"last_name":"Odinson","username":"therealgodofthunder","email":"test@testmail.dev","created_at":"2019-10-22T01:43:58.577Z","updated_at":"2019-10-22T03:08:39.413Z","disabled_at":null,"membership":null,"role":"member","require_password_reset":true}'
  recorded_at: Tue, 22 Oct 2019 03:08:39 GMT
recorded_with: VCR 5.0.0
