---
http_interactions:
- request:
    method: post
    uri: https://api.staging.tsek.asia/api/v1/auth
    body:
      encoding: UTF-8
      string: '{"auth":{"email":"richard@fullsuite.ph","password":"RichardPassword"}}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - fHqAMXiD_kDc8hs-tv2m_gBxjFxJk1l3KdjAVlTFhY_KRMQGLMld3gf4GdU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3b8845b455697cc35f806fb9f76c617b"
    body:
      encoding: UTF-8
      string: '{"auth_token":"eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjozNDgsImV4cCI6MTYwNDQ4MTk5MH0.IJEBZ253peGgTpoUUwg7hHB0RTKtpCPdQUtBq4YmPKs"}'
  recorded_at: Mon, 04 Nov 2019 09:26:30 GMT
- request:
    method: get
    uri: https://api.staging.tsek.asia/api/v1/account
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - fHqAMXiD_kDc8hs-tv2m_gBxjFxJk1l3KdjAVlTFhY_KRMQGLMld3gf4GdU
      Authorization:
      - Token eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjozNDgsImV4cCI6MTYwNDQ4MTk5MH0.IJEBZ253peGgTpoUUwg7hHB0RTKtpCPdQUtBq4YmPKs
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"09ef75b3f7a1df5c27e550e870fb1c6a"
    body:
      encoding: UTF-8
      string: '{"id":348,"first_name":"Richard","middle_name":"Angelo","last_name":"Praxedes","username":"Maruyama","email":"richard@fullsuite.ph","created_at":"2019-09-04T07:04:13.323Z","updated_at":"2019-11-04T01:34:33.806Z","disabled_at":null,"membership":null,"role":"moderator","require_password_reset":false,"full_name":"Richard
        Angelo Praxedes","moderatorships":[{"id":1,"name":"Tseklis Payroll"}]}'
  recorded_at: Mon, 04 Nov 2019 09:26:32 GMT
recorded_with: VCR 5.0.0
