---
http_interactions:
- request:
    method: post
    uri: https://api.staging.tsek.asia/api/v1/auth
    body:
      encoding: UTF-8
      string: '{"auth":{"email":"test@testmail.dev","password":"wrongpassword"}}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - fHqAMXiD_kDc8hs-tv2m_gBxjFxJk1l3KdjAVlTFhY_KRMQGLMld3gf4GdU
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"auth":{"password":"Incorrect password."}}}'
  recorded_at: Tue, 22 Oct 2019 02:27:33 GMT
recorded_with: VCR 5.0.0
