---
http_interactions:
- request:
    method: patch
    uri: https://api.staging.tsek.asia/api/v1/companies/zzyzx/change_role
    body:
      encoding: UTF-8
      string: '{"membership":{"user_id":419,"role":"administrator"}}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - fHqAMXiD_kDc8hs-tv2m_gBxjFxJk1l3KdjAVlTFhY_KRMQGLMld3gf4GdU
      Authorization:
      - Token eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjo0MTksImV4cCI6MTYwMzMzMzczNH0.O2aa8KBvwRkQ-Zi84P7rkt9_0lm7gZnX_XWghmE7ZaQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2f8375d4bdd489b6995d6bb89e065881"
    body:
      encoding: UTF-8
      string: '{"company":{"name":"ZZYZX","slug":"zzyzx","created_at":"2019-10-22T04:17:29.935Z","disabled_at":null},"user":{"id":419,"first_name":"Thor","middle_name":null,"last_name":"Odinson","username":"therealgodofthunder","email":"test@testmail.dev","created_at":"2019-10-22T01:43:58.577Z","updated_at":"2019-10-22T03:08:39.413Z","disabled_at":null,"membership":null,"role":"member","require_password_reset":true,"full_name":"Thor
        Odinson"},"created_at":"2019-10-22T04:17:29.943Z","role":"administrator"}'
  recorded_at: Tue, 22 Oct 2019 04:34:20 GMT
recorded_with: VCR 5.0.0
