---
http_interactions:
- request:
    method: get
    uri: https://api.staging.tsek.asia/api/v1/companies/discipline-success
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - fHqAMXiD_kDc8hs-tv2m_gBxjFxJk1l3KdjAVlTFhY_KRMQGLMld3gf4GdU
      Authorization:
      - Token eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjo0MTksImV4cCI6MTYwMzMzMzczNH0.O2aa8KBvwRkQ-Zi84P7rkt9_0lm7gZnX_XWghmE7ZaQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"56ad03b41090e5778248dd92488e56e0"
    body:
      encoding: UTF-8
      string: '{"name":"Discipline to Success","slug":"discipline-success","created_at":"2019-10-22T02:53:05.817Z","disabled_at":null}'
  recorded_at: Tue, 22 Oct 2019 04:22:12 GMT
- request:
    method: get
    uri: https://api.staging.tsek.asia/api/v1/companies/discipline-success/my_membership
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - fHqAMXiD_kDc8hs-tv2m_gBxjFxJk1l3KdjAVlTFhY_KRMQGLMld3gf4GdU
      Authorization:
      - Token eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjo0MTksImV4cCI6MTYwMzMzMzczNH0.O2aa8KBvwRkQ-Zi84P7rkt9_0lm7gZnX_XWghmE7ZaQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"632d49f9f2b1f34142cb3007de8876e5"
    body:
      encoding: UTF-8
      string: '{"company":{"name":"Discipline to Success","slug":"discipline-success","created_at":"2019-10-22T02:53:05.817Z","disabled_at":null},"user":{"id":419,"first_name":"Thor","middle_name":null,"last_name":"Odinson","username":"therealgodofthunder","email":"test@testmail.dev","created_at":"2019-10-22T01:43:58.577Z","updated_at":"2019-10-22T03:08:39.413Z","disabled_at":null,"membership":null,"role":"member","require_password_reset":true},"created_at":"2019-10-22T02:53:05.826Z","role":"administrator"}'
  recorded_at: Tue, 22 Oct 2019 04:22:13 GMT
recorded_with: VCR 5.0.0
