---
http_interactions:
- request:
    method: get
    uri: https://api.staging.tsek.asia/api/v1/companies/discipline-success
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - fHqAMXiD_kDc8hs-tv2m_gBxjFxJk1l3KdjAVlTFhY_KRMQGLMld3gf4GdU
      Authorization:
      - Token eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjo0MTksImV4cCI6MTYwMzMzMzczNH0.O2aa8KBvwRkQ-Zi84P7rkt9_0lm7gZnX_XWghmE7ZaQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"56ad03b41090e5778248dd92488e56e0"
    body:
      encoding: UTF-8
      string: '{"name":"Discipline to Success","slug":"discipline-success","created_at":"2019-10-22T02:53:05.817Z","disabled_at":null}'
  recorded_at: Tue, 22 Oct 2019 04:24:15 GMT
- request:
    method: get
    uri: https://api.staging.tsek.asia/api/v1/companies/discipline-success/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - fHqAMXiD_kDc8hs-tv2m_gBxjFxJk1l3KdjAVlTFhY_KRMQGLMld3gf4GdU
      Authorization:
      - Token eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjo0MTksImV4cCI6MTYwMzMzMzczNH0.O2aa8KBvwRkQ-Zi84P7rkt9_0lm7gZnX_XWghmE7ZaQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"748d58d31077527d792b264285fd562e"
    body:
      encoding: UTF-8
      string: '[{"id":419,"first_name":"Thor","middle_name":null,"last_name":"Odinson","username":"therealgodofthunder","email":"test@testmail.dev","created_at":"2019-10-22T01:43:58.577Z","updated_at":"2019-10-22T03:08:39.413Z","disabled_at":null,"membership":"administrator","role":"member","require_password_reset":true},{"id":421,"first_name":null,"middle_name":null,"last_name":null,"username":"thorodinsonasgardianmailcom","email":"thorodinson@asgardianmail.com","created_at":"2019-10-22T04:23:15.583Z","updated_at":"2019-10-22T04:23:15.583Z","disabled_at":null,"membership":"member","role":"member","require_password_reset":true},{"id":422,"first_name":null,"middle_name":null,"last_name":null,"username":"tonystarkindustriescom","email":"tony@starkindustries.com","created_at":"2019-10-22T04:23:15.680Z","updated_at":"2019-10-22T04:23:15.680Z","disabled_at":null,"membership":"member","role":"member","require_password_reset":true},{"id":423,"first_name":null,"middle_name":null,"last_name":null,"username":"steverogersaolcom","email":"steverogers@aol.com","created_at":"2019-10-22T04:23:15.775Z","updated_at":"2019-10-22T04:23:15.775Z","disabled_at":null,"membership":"member","role":"member","require_password_reset":true},{"id":424,"first_name":null,"middle_name":null,"last_name":null,"username":"brucebannerculveredu","email":"brucebanner@culver.edu","created_at":"2019-10-22T04:23:15.880Z","updated_at":"2019-10-22T04:23:15.880Z","disabled_at":null,"membership":"member","role":"member","require_password_reset":true}]'
  recorded_at: Tue, 22 Oct 2019 04:24:16 GMT
recorded_with: VCR 5.0.0
