---
http_interactions:
- request:
    method: post
    uri: https://api.staging.tsek.asia/api/v1/companies
    body:
      encoding: UTF-8
      string: '{"company":{"name":"ZZYZX","slug":"zzyzx"}}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - fHqAMXiD_kDc8hs-tv2m_gBxjFxJk1l3KdjAVlTFhY_KRMQGLMld3gf4GdU
      Authorization:
      - Token eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjo0MTksImV4cCI6MTYwMzMzMzczNH0.O2aa8KBvwRkQ-Zi84P7rkt9_0lm7gZnX_XWghmE7ZaQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cf876017785e6ac7960631555616a54b"
    body:
      encoding: UTF-8
      string: '{"name":"ZZYZX","slug":"zzyzx","created_at":"2019-10-22T04:17:29.935Z","disabled_at":null}'
  recorded_at: Tue, 22 Oct 2019 04:17:30 GMT
recorded_with: VCR 5.0.0
