---
http_interactions:
- request:
    method: get
    uri: https://api.staging.tsek.asia/api/v1/companies/xzyzz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - fHqAMXiD_kDc8hs-tv2m_gBxjFxJk1l3KdjAVlTFhY_KRMQGLMld3gf4GdU
      Authorization:
      - Token eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjo0MTksImV4cCI6MTYwMzMzMzczNH0.O2aa8KBvwRkQ-Zi84P7rkt9_0lm7gZnX_XWghmE7ZaQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"64e8138de20c2c957eb617ad42f625e0"
    body:
      encoding: UTF-8
      string: '{"name":"xzyzz","slug":"xzyzz","created_at":"2019-10-22T02:53:05.817Z","disabled_at":null}'
  recorded_at: Tue, 22 Oct 2019 04:21:38 GMT
- request:
    method: patch
    uri: https://api.staging.tsek.asia/api/v1/companies/xzyzz
    body:
      encoding: UTF-8
      string: '{"name":"Discipline to Success","slug":"discipline-success"}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - fHqAMXiD_kDc8hs-tv2m_gBxjFxJk1l3KdjAVlTFhY_KRMQGLMld3gf4GdU
      Authorization:
      - Token eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjo0MTksImV4cCI6MTYwMzMzMzczNH0.O2aa8KBvwRkQ-Zi84P7rkt9_0lm7gZnX_XWghmE7ZaQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"56ad03b41090e5778248dd92488e56e0"
    body:
      encoding: UTF-8
      string: '{"name":"Discipline to Success","slug":"discipline-success","created_at":"2019-10-22T02:53:05.817Z","disabled_at":null}'
  recorded_at: Tue, 22 Oct 2019 04:21:39 GMT
recorded_with: VCR 5.0.0
