---
http_interactions:
- request:
    method: post
    uri: https://api.staging.tsek.asia/api/v1/apps/find_by_key
    body:
      encoding: UTF-8
      string: '{"app":{"api_key":"BduM259o9-03rDVkVHtqbH5IrrbKvP-vAcEr_N3VowEQVN4jHcgeG2IsnUM"}}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - fHqAMXiD_kDc8hs-tv2m_gBxjFxJk1l3KdjAVlTFhY_KRMQGLMld3gf4GdU
      Authorization:
      - Token eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjo0MTksImV4cCI6MTYwMzMzMzczNH0.O2aa8KBvwRkQ-Zi84P7rkt9_0lm7gZnX_XWghmE7ZaQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b36df3f960193f1f1c75e5d172f680ab"
    body:
      encoding: UTF-8
      string: '{"id":1,"name":"Tseklis Payroll"}'
  recorded_at: Mon, 04 Nov 2019 09:20:05 GMT
recorded_with: VCR 5.0.0
