---
http_interactions:
- request:
    method: post
    uri: https://api.staging.tsek.asia/api/v1/permits
    body:
      encoding: UTF-8
      string: '{"permit":{"user_id":419,"role":"member"}}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - fHqAMXiD_kDc8hs-tv2m_gBxjFxJk1l3KdjAVlTFhY_KRMQGLMld3gf4GdU
      Authorization:
      - Token eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjo0MTksImV4cCI6MTYwMzMzMzczNH0.O2aa8KBvwRkQ-Zi84P7rkt9_0lm7gZnX_XWghmE7ZaQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9c0a7a7de199c8dabc34d2d08c08fe0f"
    body:
      encoding: UTF-8
      string: '{"message":"User is permitted."}'
  recorded_at: Tue, 22 Oct 2019 06:07:36 GMT
recorded_with: VCR 5.0.0
