---
http_interactions:
- request:
    method: post
    uri: https://api.staging.tsek.asia/api/v1/registrations
    body:
      encoding: UTF-8
      string: '{"user":{"email":"test@test.dev","password":"thisisthepassword","password_confirmation":"thisisthepassword"}}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - fHqAMXiD_kDc8hs-tv2m_gBxjFxJk1l3KdjAVlTFhY_KRMQGLMld3gf4GdU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"32303c4e1bd01dc9d41a8fc2d0f25b35"
    body:
      encoding: UTF-8
      string: '{"id":420,"first_name":null,"middle_name":null,"last_name":null,"username":"e5a4d28f-47be-4082-bd39-019b562b3be2","email":"test@test.dev","created_at":"2019-10-22T02:43:31.469Z","updated_at":"2019-10-22T02:43:31.469Z","disabled_at":null,"membership":null,"role":"member","require_password_reset":true}'
  recorded_at: Tue, 22 Oct 2019 02:43:31 GMT
recorded_with: VCR 5.0.0
