---
http_interactions:
- request:
    method: post
    uri: https://api.staging.tsek.asia/api/v1/registrations
    body:
      encoding: UTF-8
      string: '{"user":{"email":"notanemail","password":"thisisthepassword","password_confirmation":"thisisNOTthepassword"}}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - fHqAMXiD_kDc8hs-tv2m_gBxjFxJk1l3KdjAVlTFhY_KRMQGLMld3gf4GdU
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":{"password_confirmation":["doesn''t match Password"],"email":["is
        invalid"]}}'
  recorded_at: Tue, 22 Oct 2019 02:43:32 GMT
recorded_with: VCR 5.0.0
