---
http_interactions:
- request:
    method: get
    uri: https://api.staging.tsek.asia/api/v1/apps/1/subscriptions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - fHqAMXiD_kDc8hs-tv2m_gBxjFxJk1l3KdjAVlTFhY_KRMQGLMld3gf4GdU
      Authorization:
      - Token eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjozNDgsImV4cCI6MTYwNDQ4MTk5MH0.IJEBZ253peGgTpoUUwg7hHB0RTKtpCPdQUtBq4YmPKs
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"abf2c664fc2462df653c0fe257b8431a"
    body:
      encoding: UTF-8
      string: '[{"id":1,"company":{"name":"Engage Spark PH","slug":"esph","created_at":"2019-06-28T05:26:54.332Z","disabled_at":null},"app":{"id":1,"name":"Tseklis
        Payroll"},"created_at":"2019-11-04T02:08:21.646Z","active":true},{"id":2,"company":{"name":"Kalibrr
        Technology Ventures, Inc","slug":"ktv","created_at":"2019-06-28T12:43:51.813Z","disabled_at":null},"app":{"id":1,"name":"Tseklis
        Payroll"},"created_at":"2019-11-04T02:08:21.653Z","active":true},{"id":3,"company":{"name":"Offshore
        Concept Consulting Inc - FullSuite","slug":"vgc-occi","created_at":"2019-06-29T05:42:49.752Z","disabled_at":null},"app":{"id":1,"name":"Tseklis
        Payroll"},"created_at":"2019-11-04T02:08:21.658Z","ac[...]
